body {
  margin: 0;
  background-color: darkred;
}

#banner {
  float: right;
}

#banner img {
}

.sidebar {
  float: left;
  left: 0;
  width: 15%;
  max-width: 130px;
  height: 100%;
  background-color: red;
  padding-top: 50px;
}

#nav-li {
  padding: 10px 0;
  margin:auto;
}

#container {
  width: 85%;
  // margin:10px;
  overflow: hidden;
}

#heading {
  position: relative;
  color: red
}

<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
